.Votes {
    position:absolute;
    right: 0px;
    margin-right: 100px;
    margin-top: 250px;
 }
 
 .Votes label {
     font-weight: bold;
     display: inline-block;
     width: 6em;
 }
 
 .Votes p {
     margin-top: 8px;
     margin-bottom: 2px;
 }

 .progressChocolate {
    background-color: gray;
}

.progressChocolate::-webkit-progress-value{
    background-color: sienna;
}

.progressVanilla {
    background-color: gray;
}

.progressVanilla::-webkit-progress-value{
    background-color: silver;
}

.progressStrawberry {
    background-color: gray;
}

.progressStrawberry::-webkit-progress-value{
    background-color: pink;
}