.Votes {
    position:absolute;
    right: 0px;
    margin-right: 100px;
    margin-top: 250px;
 }
 
 .Votes label {
     font-weight: bold;
     display: inline-block;
     width: 6em;
 }
 
 .Votes p {
     margin-top: 8px;
     margin-bottom: 2px;
 }
 
 .progressChocolate {
     background-color: gray;
 }
 
 .progressChocolate::-moz-progress-bar{
     background-color: sienna;
 }
 
 .progressVanilla {
     background-color: gray;
 }
 
 .progressVanilla::-moz-progress-bar{
     background-color: silver;
 }
 
 .progressStrawberry {
     background-color: gray;
 }
 
 .progressStrawberrry::-moz-prgress-bar{
     background-color: pink;
 }